.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
}

h1, h2 {
    color: #283f01;
}

.title {
    margin-top: 40px;
    padding-left: 273px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #A3D175;
    background-color: #e8ebe891;
    font-family: 'Petrona', serif;
    color: #283f01;
    font-size: 14px;
    width: fit-content;
    margin-right: 13px;
}

button {
    background-color: #A3D175;
    color: #283f01;
    border-radius: 5px;
    border: 1.5px solid #283f01;
    /* padding: 5px 10px; */
    width: fit-content;
    /* margin-top: 10px; */
    font-weight: bold;
    font-size: 13px;
    /* margin: 0 auto; */
    letter-spacing: .6px;
}

.save {
    display: none;
}

.edit {
    display: inline-block;
    margin-left: 13px;
}

.editing .save {
    display: inline-block;
    margin-left: 13px;
}

/* button span {
    display:inline-block;
} */

button:hover {
    background-color: #e6ffcc;
    color: #0c7575;
    border: 1.5px solid #0c7575;
    cursor: pointer;
    transition: .2s;
}