

  .heading {
    margin-top: 1%;
    margin-left: 10%; /* Adjust the left margin as needed */
  }

  .building-img {
    width: 25%; /* Fixed width */
    height: 25%; /* Fixed height to make it a square */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    border: 1px solid #ccc; /* Optional: Add a border for better visualization */
    margin-left: 1%; /* Adjust the left margin as needed */
    margin-right: 1%; /* Adjust the left margin as needed */
  }

  .l-arrow {
    margin-left: 6%; /* Adjust the left margin as needed */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #0c7575; /* Set arrow color to green */
    font-size: 4vw; /* Set arrow font size */
    font-weight: bold; /* Set arrow font weight to bold */
  }

  .r-arrow {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: green; /* Set arrow color to green */
    font-size: 4vw; /* Set arrow font size */
    font-weight: bold; /* Set arrow font weight to bold */
    margin-right: 11%; /* Adjust the left margin as needed */
  }

  .building-img img {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-right: auto; /* Push the image to the left */
    margin-left: auto; /* Center the image horizontally */
    display: block; /* Remove default inline spacing */
  }

  .building-container {
    display: flex; /* Use flexbox to make the children align horizontally */
  }

  .building-desc {
    background-color: #e8ebe891;
    margin-right: 7.5%; /* Adjust the left margin as needed */
    width: 46vw; /* Adjust the width as needed */
    height: 20vh;
  }

  .apt-container {
    margin-top: 4vh;
    display: flex; /* Use flexbox to make the children align horizontally */
    background-color: #e8ebe891;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .apt-img img {
    max-width: 30vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc; /* Optional: Add a border for better visualization */
    margin-left: 1%; /* Adjust the left margin as needed */
    margin-right: 1%; /* Adjust the left margin as needed */
  }

  .button-container {
    margin-left: 40%;
    align-items: center;
    margin-top: 1vh;
    display: flex; /* Use flexbox to make the children align horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  button {
    /* margin-top: 10px; */
    cursor: pointer;
    background-color: #e6ffcc;
    color: #0c7575;
    border-radius: 5px;
    border: 1.5px solid #0c7575;
    padding: 3px 6px;
    width: fit-content;
    font-weight: bold;
    font-size: 13px;
    margin-right: 3px;
    letter-spacing: 0.6px;
  }

  button:hover {
    background-color: #A3D175;
    color: #283f01;
    border: 1.5px solid #283f01;
    cursor: pointer;
    transition: .2s;
  }

  button:hover {
    background-color: #283f0143;
    color: #0c7575;
    border: 1.5px solid #0c7575;
    cursor: pointer;
    transition: .2s;
  }