
  .heading {
    margin-top: 1%;
    margin-left: 10%; /* Adjust the left margin as needed */
  }

  .building-img {
    width: 25%; /* Fixed width */
    height: 25%; /* Fixed height to make it a square */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    border: 1px solid #ccc; /* Optional: Add a border for better visualization */
    margin-left: 1%; /* Adjust the left margin as needed */
    margin-right: 1%; /* Adjust the left margin as needed */
  }

  .l-arrow {
    margin-left: 6%; /* Adjust the left margin as needed */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: green; /* Set arrow color to green */
    font-size: 4vw; /* Set arrow font size */
    font-weight: bold; /* Set arrow font weight to bold */
  }

  .r-arrow {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: green; /* Set arrow color to green */
    font-size: 4vw; /* Set arrow font size */
    font-weight: bold; /* Set arrow font weight to bold */
    margin-right: 11%; /* Adjust the left margin as needed */
  }

  .building-img img {
    max-width: 100%; /* Make sure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
    margin-right: auto; /* Push the image to the left */
    margin-left: auto; /* Center the image horizontally */
    display: block; /* Remove default inline spacing */
  }

  .building-container {
    display: flex; /* Use flexbox to make the children align horizontally */
  }

  .building-desc {
    background-color: #e8ebe891;
    margin-right: 7.5%; /* Adjust the left margin as needed */
    width: 50%; /* Adjust the width as needed */
  }

  .button-container {
    display: flex; /* Use flexbox to make the children align horizontally */
  }

  .button-1 {
    margin-top: 1%;
    margin-right: 5%; /* Adjust the left margin as needed */
    margin-left: 60%; /* Adjust the left margin as needed */
  }

  .button-2 {
    margin-top: 1%;
    margin-right: 20%; /* Adjust the left margin as needed */
  }

  button {
    /* margin-top: 10px; */
    cursor: pointer;
    background-color: #e6ffcc;
    color: #0c7575;
    border-radius: 5px;
    border: 1.5px solid #0c7575;
    padding: 3px 6px;
    width: fit-content;
    font-weight: bold;
    font-size: 13px;
    margin-right: 3px;
    letter-spacing: 0.6px;
  }

  button:hover {
    background-color: #A3D175;
    color: #283f01;
    border: 1.5px solid #283f01;
    cursor: pointer;
    transition: .2s;
  }

  button:hover {
    background-color: #283f0143;
    color: #0c7575;
    border: 1.5px solid #0c7575;
    cursor: pointer;
    transition: .2s;
  }

  footer {
    background-color: #283f01;
    border-top: 6px solid #A3D175;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer h2 {
    color: #fbf9e3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
  }
  
  .f-title {
    color: #fbf9e3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 20px; */
    padding-top: 10px;
  }
  
  .f-title img {
    width: 80px;
    height: 100%;
    /* padding-top: 12px; */
    padding-left: 10px;
    padding-right: 3px;
  }
  
  .contact {
    text-align: right;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .social-icons {
    /* display: inline-flex; */
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
  }
  
  .icon {
    text-align: center;
    margin-right: 10px;
  }
  
  .icon i {
    font-size: 2em;
    padding: 3%;
    color: #fbf9e3;
  }
  
  .icon i:hover {
    color: #A3D175;
    transition: .2s;
  }
  
  .ig-txt {
    padding-top: 4px;
  }
  
  .icon p {
    margin: 0;
    letter-spacing: 1px;
    color: #fbf9e3;
  }
  
  .fa-instagram::before {
    content: "\f16d";
  }
  
  .fa-envelope::before {
    content: "\f0e0";
  }
  
  .fa-git::before {
    content: "\f09b";
  }
  
  .fa-phone::before {
    content: "\f095";
  }
  
  header nav h1 img {
    margin-right: 15px;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  main {
    flex: 1;
  }