body {
  font-family: 'Petrona', serif;
  background-color: #fbf9e3;
  margin: 0;
  padding: 0;
  /* position: relative; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #283f01;
  border-bottom: 6px solid #A3D175;
  z-index: 1;
  top: 0;
  position: sticky;
  /* height: 100px; */
}

header nav h1 {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1.2px;
  margin-left: 9%;
  margin-right: 10%;
  color: #fbf9e3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .4s;
  padding: 20px;
}

nav .nav-sects {
  display: flex;
  list-style: none;
  gap: 2%;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* text-align: center; */

}

nav .nav-sects li {
  margin-right: 10px;
  padding: 10px;
  padding-top: 13px;
  text-align: center;
  border: #fbf9e3 4px solid;
  border-radius: 4px;
  color: #fbf9e3;
}

nav .nav-sects li a {
  text-decoration: none;
  
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: .2s ease-in;
  letter-spacing: .7px;
}

nav .nav-sects li:hover {
  background-color: #A3D175;
  border: #A3D175 4px solid;
  border-radius: 25px;
  color: #283f01;
  font-weight: 900;
  font-style: bolder;
}

footer {
  background-color: #283f01;
  border-top: 6px solid #A3D175;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  /* position: absolute;
  bottom: 0; */
  margin-top: auto;
}

footer h2 {
  color: #fbf9e3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 10px;
}

.f-title {
  color: #fbf9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 20px; */
  padding-top: 10px;
}

.f-title img {
  width: 80px;
  height: 100%;
  /* padding-top: 12px; */
  padding-left: 10px;
  padding-right: 3px;
}

.contact {
  text-align: right;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-icons {
  /* display: inline-flex; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.icon {
  text-align: center;
  margin-right: 10px;
}

.icon i {
  font-size: 2em;
  padding: 3%;
  color: #fbf9e3;
}

.icon i:hover {
  color: #A3D175;
  transition: .2s;
}

.ig-txt {
  padding-top: 4px;
}

.icon p {
  margin: 0;
  letter-spacing: 1px;
  color: #fbf9e3;
}

.fa-instagram::before {
  content: "\f16d";
}

.fa-envelope::before {
  content: "\f0e0";
}

.fa-git::before {
  content: "\f09b";
}

.fa-phone::before {
  content: "\f095";
}

header nav h1 img {
  margin-right: 15px;
}

a:hover {
  cursor: pointer;
}