
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  section a {
    text-decoration: none;
    color: white;
    background-color: #7cc42c;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
  img {
    max-width: 100%;
  }